<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center mt-4">
      <h1 class="display-3">Parts</h1>
    </div>
  </div>
  <%= render "parts/search_box" %>

  <div class="container">
    <div class="d-flex justify-content-end">
      <%= paginate @parts %>
    </div>

    <%= render "table", parts: @parts %>

    <div class="d-flex justify-content-end">
      <%= paginate @parts %>
    </div>
  </div>
</div>