
<div class="card text-white border-0 w-100">
    <div class="card-background">
        <div class="card-body mask mask-custom h-100 d-flex align-items-center justify-content-around">
            <div class="f-flex flex-column">
                <h1 class="card-title display-1 p-0">QualiTrackr</h1>
                <p class="card-text fs-2 px-3">
                    Make quality records a breeze with our all-in-one tool
                </p>

            </div>
            
            <div class="m-4">
                <%= video_tag "factory_loop.mp4", 
                    controls: true, 
                    autoplay: true, 
                    loop: true, 
                    muted: true, 
                    width: "600",
                    height: "315" %>
            </div>
        </div>
    </div>
</div>



<div class="container my-3">
  <div class="row">
    <div class="col">
        <h4 class="my-3">Revolutionize Your PPAP Documentation Process</h5>
        <p>
            
            Struggling with the complexity of creating and managing PPAP documentation? 
            Our innovative document management system consolidates all PPAP components 
            into one streamlined platform. Designed for the manufacturing industry, 
            fully customizable, our solution simplifies the Production 
            Part Approval Process, giving you a competitive edge by reducing delays and enhancing customer satisfaction. 
            Stay ahead of global sustainability regulations and ensure smooth, timely production with our all-in-one PPAP management tool.
        </p>
    </div>
    <div class="col d-flex flex-column align-items-center">
        <h4>Contact us:</h4>
        <form style="width: 26rem;">
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="text" id="form4Example1" class="form-control" />
                <label class="form-label" for="form4Example1">Name</label>
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
                <input type="email" id="form4Example2" class="form-control" />
                <label class="form-label" for="form4Example2">Email address</label>
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
                <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                <label class="form-label" for="form4Example3">Message</label>
            </div>

            <div class="form-check d-flex justify-content-center mb-4">
                <input
                class="form-check-input me-2"
                type="checkbox"
                value=""
                id="form4Example4"
                checked
                />
                <label class="form-check-label" for="form4Example4">
                Send me a copy of this message
                </label>
            </div>

            <button data-mdb-ripple-init type="button" class="btn btn-primary btn-block mb-4">Send</button>
        </form>
    </div>
  </div>
</div>