<p style="color: green"><%= notice %></p>

<h1>Quality projects</h1>

<div class="container">
  <%= render "table", quality_projects: @quality_projects %>
</div>



<%= link_to "New quality project", new_quality_project_path %>
