<h1>New quality project</h1>
<h2>Step 2</h2>
<h3>Add information</h3>
<%= render partial: "form", locals: { quality_project: @quality_project, part_id: @part_id } %>

<br>

<div>
  <%= link_to "Back to quality projects", quality_projects_path %>
</div>

