<div class="container d-flex justify-content-center my-5">
  <div class="card" style="width: 33%;">
    <div class="card-body">
      <h3 class="card-title text-center">New Quality Project</h3>
      <h4>Step 2</h4>
      <%= render partial: "form", locals: { quality_project: @quality_project, part_id: @part_id } %>
      </div>
      <div class="card-footer text-center">
      <%= link_to "Back to first step", new_part_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>